<a href="https://colab.research.google.com/github/jattFaizan423/Real-state-Project/blob/main/gurgaon_properties_cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('/content/gurgaon_properties.csv')

In [ ]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in C Block Sushant Lo...,house,independent,5.25,27132.0,1935.0,Plot area 215(179.77 sq.m.),4,4,2,"study room,servant room","C Block Sushant Lok Phase 1, Gurgaon, Haryana",2.0,not available,10+ Year Old,"['Sector 42-43 metro station', 'Huda city cent...",North facing 12 mtr road kothi\nC block 3 digi...,"['4 Wardrobe', '4 Fan', '4 Geyser', '12 Light'...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,5 Bedroom House for sale in Sector 109 Gurgaon,house,international city by sobha phase 1,6.10,25103.0,2430.0,Plot area 270(225.75 sq.m.),5,6,3+,servant room,"Sector 109 Gurgaon, Gurgaon, Haryana",2.0,not available,5 to 10 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",There is servant room plus servant toilet behi...,NaN,"['Maintenance Staff', 'Separate entry for serv...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
2,3 BHK Flat in Sector 69 Gurgaon,flat,unitech sunbreeze,0.74,5500.0,1345.0,Super Built up area 1337(124.21 sq.m.),3,3,1,servant room,"Sector-69, Gurgaon, Sector 69 Gurgaon, Gurgaon...",10.0,not available,Under Construction,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",For sale - 3bhk + sr flat measuring 1337sqr ft...,[],"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
3,3 BHK Flat in Sector 68 Gurgaon,flat,pareena mi casa,1.90,9227.0,2059.0,Carpet area: 2059 (191.29 sq.m.),3,3,3+,servant room,"Sector 68 Gurgaon, Gurgaon, Haryana",1.0,not available,Under Construction,"['Sector 55-56 Metro Station', 'Airia Mall', '...","With podium, biggest balconies n biggest unit ...",[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Safety5 out of 5', 'Lifestyle4 out of 5', 'E..."
4,3 BHK Flat in Sector-33 Sohna,flat,godrej nature plus,1.40,15124.0,926.0,Super Built up area 145Carpet area: 86 sq.m.,3,2,3+,not available,"Sector-33 Sohna, Gurgaon, Haryana",20.0,not available,Within 3 months,"['Signature Global Infinity Mall Sohna', 'Bads...",It is a 3rhk property( 2 rooms with kids/study...,[],"['Security / Fire Alarm', 'Intercom Facility',...",NaN

In [ ]:
df.shape

(3960, 20)

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3960 entries, 0 to 3959
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3960 non-null   object
 1   property_type    3960 non-null   object
 2   society          3959 non-null   object
 3   price            3940 non-null   float64
 4   price_per_sqft   3940 non-null   float64
 5   area             3940 non-null   float64
 6   areaWithType     3960 non-null   object
 7   bedRoom          3960 non-null   int64
 8   bathroom         3960 non-null   int64
 9   balcony          3960 non-null   object
 10  additionalRoom   3960 non-null   object
 11  address          3949 non-null   object
 12  floorNum         3939 non-null   float64
 13  facing           3960 non-null   object
 14  agePossession    3959 non-null   object
 15  nearbyLocations  3753 non-null   object
 16  description      3960 non-null   object
 17  furnishDetails   2928 non-null   object
 18  features         3251 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 618.9+ KB

In [ ]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing                0
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              449
dtype: int64

In [ ]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in C Block Sushant Lo...,house,independent,5.25,27132.0,1935.0,Plot area 215(179.77 sq.m.),4,4,2,"study room,servant room","C Block Sushant Lok Phase 1, Gurgaon, Haryana",2.0,not available,10+ Year Old,"['Sector 42-43 metro station', 'Huda city cent...",North facing 12 mtr road kothi\nC block 3 digi...,"['4 Wardrobe', '4 Fan', '4 Geyser', '12 Light'...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,5 Bedroom House for sale in Sector 109 Gurgaon,house,international city by sobha phase 1,6.10,25103.0,2430.0,Plot area 270(225.75 sq.m.),5,6,3+,servant room,"Sector 109 Gurgaon, Gurgaon, Haryana",2.0,not available,5 to 10 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",There is servant room plus servant toilet behi...,NaN,"['Maintenance Staff', 'Separate entry for serv...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
2,3 BHK Flat in Sector 69 Gurgaon,flat,unitech sunbreeze,0.74,5500.0,1345.0,Super Built up area 1337(124.21 sq.m.),3,3,1,servant room,"Sector-69, Gurgaon, Sector 69 Gurgaon, Gurgaon...",10.0,not available,Under Construction,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",For sale - 3bhk + sr flat measuring 1337sqr ft...,[],"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
3,3 BHK Flat in Sector 68 Gurgaon,flat,pareena mi casa,1.90,9227.0,2059.0,Carpet area: 2059 (191.29 sq.m.),3,3,3+,servant room,"Sector 68 Gurgaon, Gurgaon, Haryana",1.0,not available,Under Construction,"['Sector 55-56 Metro Station', 'Airia Mall', '...","With podium, biggest balconies n biggest unit ...",[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Safety5 out of 5', 'Lifestyle4 out of 5', 'E..."
4,3 BHK Flat in Sector-33 Sohna,flat,godrej nature plus,1.40,15124.0,926.0,Super Built up area 145Carpet area: 86 sq.m.,3,2,3+,not available,"Sector-33 Sohna, Gurgaon, Haryana",20.0,not available,Within 3 months,"['Signature Global Infinity Mall Sohna', 'Bads...",It is a 3rhk property( 2 rooms with kids/study...,[],"['Security / Fire Alarm', 'Intercom Facility',...",NaN

In [ ]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [ ]:
df['sector'] = df['sector'].str.lower()

In [ ]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [ ]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [ ]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

In [ ]:
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [ ]:
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [ ]:
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [ ]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [ ]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [ ]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [ ]:
df[df['sector'] == 'new']

Empty DataFrame
Columns: [property_name, property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [ ]:
df.loc[422,'sector'] = 'sector 37'
df.loc[1002,'sector'] = 'sector 92'
df.loc[1800,'sector'] = 'sector 90'
df.loc[2616,'sector'] = 'sector 76'

In [ ]:
df[df['sector'] == 'new sector 2']

Empty DataFrame
Columns: [property_name, property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [ ]:
df.loc[[365,377,1244,2647,3240],'sector'] = 'sector 110'

In [ ]:
df.shape

(3802, 21)

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in C Block Sushant Lo...,house,independent,sector 43,5.25,27132.0,1935.0,Plot area 215(179.77 sq.m.),4,4,2,"study room,servant room","C Block Sushant Lok Phase 1, Gurgaon, Haryana",2.0,not available,10+ Year Old,"['Sector 42-43 metro station', 'Huda city cent...",North facing 12 mtr road kothi\nC block 3 digi...,"['4 Wardrobe', '4 Fan', '4 Geyser', '12 Light'...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,5 Bedroom House for sale in Sector 109 Gurgaon,house,international city by sobha phase 1,sector 109,6.10,25103.0,2430.0,Plot area 270(225.75 sq.m.),5,6,3+,servant room,"Sector 109 Gurgaon, Gurgaon, Haryana",2.0,not available,5 to 10 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",There is servant room plus servant toilet behi...,NaN,"['Maintenance Staff', 'Separate entry for serv...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
2,3 BHK Flat in Sector 69 Gurgaon,flat,unitech sunbreeze,sector 69,0.74,5500.0,1345.0,Super Built up area 1337(124.21 sq.m.),3,3,1,servant room,"Sector-69, Gurgaon, Sector 69 Gurgaon, Gurgaon...",10.0,not available,Under Construction,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",For sale - 3bhk + sr flat measuring 1337sqr ft...,[],"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
3,3 BHK Flat in Sector 68 Gurgaon,flat,pareena mi casa,sector 68,1.90,9227.0,2059.0,Carpet area: 2059 (191.29 sq.m.),3,3,3+,servant room,"Sector 68 Gurgaon, Gurgaon, Haryana",1.0,not available,Under Construction,"['Sector 55-56 Metro Station', 'Airia Mall', '...","With podium, biggest balconies n biggest unit ...",[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Safety5 out of 5', 'Lifestyle4 out of 5', 'E..."
4,3 BHK Flat in Sector-33 Sohna,flat,godrej nature plus,sector 33,1.40,15124.0,926.0,Super Built up area 145Carpet area: 86 sq.m.,3,2,3+,not available,"Sector-33 Sohna, Gurgaon, Haryana",20.0,not available,Within 3 months,"['Signature Global Infinity Mall Sohna', 'Bads...",It is a 3rhk property( 2 rooms with kids/study...,[],"['Security / Fire Alarm', 'Intercom Facility',...",NaN

In [ ]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [ ]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,house,independent,sector 43,5.25,27132.0,1935.0,Plot area 215(179.77 sq.m.),4,4,2,"study room,servant room",2.0,not available,10+ Year Old,"['Sector 42-43 metro station', 'Huda city cent...","['4 Wardrobe', '4 Fan', '4 Geyser', '12 Light'...","['Feng Shui / Vaastu Compliant', 'Security / F..."
1,house,international city by sobha phase 1,sector 109,6.10,25103.0,2430.0,Plot area 270(225.75 sq.m.),5,6,3+,servant room,2.0,not available,5 to 10 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",NaN,"['Maintenance Staff', 'Separate entry for serv..."
2,flat,unitech sunbreeze,sector 69,0.74,5500.0,1345.0,Super Built up area 1337(124.21 sq.m.),3,3,1,servant room,10.0,not available,Under Construction,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",[],"['Power Back-up', 'Intercom Facility', 'Lift(s..."
3,flat,pareena mi casa,sector 68,1.90,9227.0,2059.0,Carpet area: 2059 (191.29 sq.m.),3,3,3+,servant room,1.0,not available,Under Construction,"['Sector 55-56 Metro Station', 'Airia Mall', '...",[],"['Feng Shui / Vaastu Compliant', 'Security / F..."
4,flat,godrej nature plus,sector 33,1.40,15124.0,926.0,Super Built up area 145Carpet area: 86 sq.m.,3,2,3+,not available,20.0,not available,Within 3 months,"['Signature Global Infinity Mall Sohna', 'Bads...",[],"['Security / Fire Alarm', 'Intercom Facility',..."

In [ ]:
df.duplicated().sum()

np.int64(122)

In [ ]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)